<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Pham Viet Hoang" />
    <link rel="stylesheet" href="style.css" />
    <title>Layout</title>
  </head>
  <body>
    <div class="container">
      <img id="1" src="https://i.ytimg.com/vi/pO5aRVbMbOg/maxresdefault.jpg" />

      <img
        id="2"
        src="https://m.media-amazon.com/images/M/MV5BODdlYzdiYTItMzFhNi00Mzc4LWIwYTktOGYyMjhmOGJmN2EzXkEyXkFqcGdeQXVyMTA0MTM5NjI2._V1_.jpg"
        width="300px"
      />

      <img
        id="3"
        src="https://i.ebayimg.com/images/g/kiMAAOSwvi5fo~gt/s-l500.png"
      />

      <img
        id="4"
        src="https://swebtoon-phinf.pstatic.net/20211121_240/1637451915000X2JXG_PNG/thumbnail.jpg"
      />

      <img
        id="5"
        src="https://i.pinimg.com/564x/c8/0f/91/c80f91db098de92648e57e4130842e49.jpg"
      />

      <img
        id="6"
        src="https://i.ebayimg.com/images/g/h7oAAOSwxSNfex9n/s-l500.png"
      />
      <img
        id="7"
        src="https://i.pinimg.com/474x/16/4d/44/164d44af24afddf2db9a986e0e61624e.jpg"
      />
      <img
        id="8"
        src="https://i.pinimg.com/originals/dd/0f/11/dd0f1144da1939bcbc24b5009ed4ec1d.jpg"
      />
      <img
        id="9"
        src="https://i.pinimg.com/736x/19/88/30/198830d2f71eca2130a9a56ee76efb0c.jpg"
      />
      <img
        id="10"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMVSgS-MscirtDe32F-HHsvFgb4IBAlg2CYSEHHs92bx-A4UcsgmARGq0saHMnI6t8iiw&usqp=CAU"
      />
      <img
        id="11"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZhHi0FN_uB2gIFLUwoViMj6Lku3wc5Qh3IVVOkxPRNhTyy5jbjyLEc25IJsp8zxB8ZOw&usqp=CAU"
      />
      <img
        id="12"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIg9gucKrfZyo6EQRjqJC28WUFuOD3WXMowNRI77OJrCVsMGBp35NF9FVX4kAs61ekPNw&usqp=CAU"
      />
    </div>
  </body>
</html>
